.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto;
  width: 90%;
  max-width: 700px;
}

.header h3 {
  font-size: 28px;
  color: var(--logo-color);
  font-weight: bolder;
}

@media (min-width: 1000px) {
  .header {
    margin: 70px auto 30px auto;
  }
}
