.form {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto 16px auto;
  padding: 10px;
  width: 90%;
  max-width: 700px;
  background-color: var(--card-color);
  border-radius: 10px;
  box-shadow: 0px 10px 37px -18px black;
}

.form input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  background-color: transparent;
  border: none;
}

.form div {
  display: flex;
  flex-direction: row;
  /* column-gap: 10px; */
}

.form button {
  height: 100%;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--btn-color);
  color: white;
  cursor: pointer;
}

.form button:hover {
  opacity: 0.8;
}

.form input,
.form textarea {
  color: var(--logo-color);
}


input:focus{
  /* border: 3px red solid; */
  outline: none;
}